.wrapper {
	flex: 0 1 33%;
	border-radius: 7px;
	background-color: #242526;
	padding: 10px;
	.live {
		span {
			font-size: 20px;
		}
		margin-bottom: 25px;
	}
	h3 {
		margin-bottom: 10px;
	}
	.contacts_header{
		
	}
	.contacts_wrapper, .skills_wrapper, .aboutMe_wrapper {
		display: flex;
		flex-wrap: wrap;
		margin-bottom: 20px;
		background-color: rgba(255, 255, 255, .1);
		padding: 5px;
		border-radius: 5px;
		div {
			width: 30px;
			height: 30px;
			margin: 0px 10px 10px 0;
			img {
				width: 100%;
				height: 100%;
			}
		}
	}
	.aboutMe_wrapper {
		font-size: 14px;
	}
	.edit_info {
		display: block;
		border-radius: 5px;
		padding: 10px;
		margin-bottom: 15px;
		width: 100%;
		color: white;
		background-color: #383838;
		position: relative;
		letter-spacing: 1px;
		word-spacing: 5px;
		&:after{
			content: '';
			position: absolute;
			display: block;
			width: 100%;
			height: 100%;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			background-color: #fff;
			border-radius: 7px;
			opacity: 0;
			transition: all .3s;
		}
		&:hover {
			&:after{
				opacity: .1;
			}
		}
	}
}