.my_data {
	display: flex;
}
.avatar {
	margin-right: 20px;
	width: 200px;
}
.avatar img{
	width: 100%;
	border-radius: 50%;
}
.content{
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-self: flex-start;
	align-items: center;
}
.about{
	color: #fff;
}


