.friend {
	width: 90%;
	color: #fff;
	text-decoration: none;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.friend_img {
	width: 30px;
}

.friend_img img {
	width: 100%;
	border-radius: 50%;
}

.friend_name {
	font-weight: 500;
}