form {
	width: 100%;
	.field {
		width: 100%;
		margin-bottom: 15px;
		input{
			padding: 10px; 
			width: 100%;
			border-radius: 5px;
			background-color: #fff;
		}
		&_checkbox {
			display: flex;
			align-items: center;
			input{
				width: auto;
				margin-right: 10px;
			}
			label{
				color: #fff;
				font-weight: 300;
				font-size: 14pxRe;
			}
		}
		button {
			width: 100%;
			padding: 10px; 
			border-radius: 5px;
			font-size: 18px;
			font-weight: 700;
		}
	}
	.error{
		color: #BE4B49;
		text-align: center;
	}
}