.wrapper {
	display: flex;

}
.link {
	text-decoration: none;
	color: #fff;
	font-size: 16px;
	&.active {
		color: #00B8FF;
	}
}

.avatar_style{
	width: 50px;
	margin-right: 10px;
	display: flex;
	align-items: center;
	img{
		width: 100%;
		border-radius: 50%;
		margin-right: 10px;
	}
}