.wrapper{
	position: relative;
	.cover_img{
		height: 350px;
		position: relative;
		margin-bottom: 20px;
		max-width: 1080px;
		margin: 0 auto 15px auto;
		z-index: 2;
		
		> img{
			position: absolute;
			top: 0px;
			left: 0px;
			width: 100%;
			height: 100%;
			object-fit: cover;
			border-bottom-left-radius: 7px;
			border-bottom-right-radius: 7px;
		}
		.avatar_container{
			position: absolute;
			bottom: -20px;
			left: 50%;
			transform: translateX(-50%);
			width: 200px;
			height: 200px;
				.avatar_wrapper{
					background-color: #fff;
					border-radius: 50%;
					width: 200px;
					height: 200px;
						img{
							width: 100%;
							height: 100%;
							border-radius: 50%;
							border: 3px solid;
							cursor: pointer;
							position: relative;
							&:hover {
								opacity: .9;
							}
						}
						&.avatar_fade {
							img{
								opacity: .5;
								&:hover {
									opacity: .5;
								}
							}
						}
				}
				.avatar_change{
					width: 30px;
					height: 30px;
					background-color: rgba(255, 255, 255, .6);
					border-radius: 50%;
					position: relative;
					bottom: 59px;
					right: -163px;
					transition: all .3s;
					input {
						display: none;
					}
					label{
						cursor: pointer;
						display: flex;
						justify-content: center;
						align-items: center;
						height: 100%;
						img{
							width: 70%;
						}
					}
					&:hover{
						background-color: rgba(255, 255, 255, .9);
					}
					&.disable_btn {
						label {
							cursor: auto;
							opacity: 0.5;
						}
						&:hover {
							background-color: rgba(255, 255, 255, .6);
						}
						
					}
					
				}
				.loading, .updateAvatarFail {
					position: absolute;
					display: block;
					width: 50%;
					height: 50%;
					top: 50%;
					left: 50%;
					transform: translate(-50%, -50%);
					display: flex;
					justify-content: center;
					align-items: center;
				}
				.updateAvatarFail{
					color: red;
					width: 100%;
					height: 100%;
				}
		}
	}
	.gradient_bg {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background: linear-gradient(#8a96b3, 40%, #1f2020);
		z-index: 1;
	}
	&_btn {
		position: relative;
		z-index: 2;
		max-width: 1080px;
		margin: 0 auto;
		border-top: 1px solid rgb(100, 100, 100);
		padding: 10px;
		.button {
			display: inline-block;
			position: relative;
			button{
				padding: 7px;
				border-radius: 5px;
				color: #fff;
				&.btn_follow{
					background-color: #00B8FF;
					color: #000;
				}
				&.btn_unfollow{
					background-color: #4E4F50;
				}
			}
			label {
				position: absolute;
				display: block;
				width: 100%;
				height: 100%;
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%);
				background-color: rgba(255, 255, 255, 0);
				transition: all .4s ease;
				border-radius: 5px;
				cursor: pointer;
			}
			&:hover {
				label {
					background-color: rgba(255, 255, 255, .2);
				}
			}
			.upload_process{
				position: absolute;
				width: 100%;
				height: 100%;
				top: 50%;
				right: 0;
				transform: translate(100%, -50%);
				display: flex;
				justify-content: flex-start;
				align-items: center;
				padding-left: 10px;
			}
			.upload_fail{
				position: absolute;
				width: 300%;
				height: 100%;
				top: 50%;
				right: 0;
				transform: translate(100%, -50%);
				display: flex;
				justify-content: flex-start;
				align-items: center;
				padding-left: 10px;
				font-size: 14px;
				font-weight: 300;
				color: red;
			}
			.btn_fade{
				cursor: unset;
			}
		}
	}
}

.modal_wrapper{
	display: flex;
	justify-content: center;
	align-items: center;
	.modal{
		height: 80%;
		img{
			height: 100%;
			object-fit: cover;
		}
	}
}

