.wrapper {
	background-color: #18191A;
	margin-top: 15px;
	color: white;
	.content {
		width: 980px;
		display: flex;
		align-items: flex-start;
		justify-content: space-between;
		margin: 0 auto;
	}
}