.wrapper {
	background-color: #18191A;
	margin-top: 15px;
	color: white;
	padding: 0 15px;
	.content {
		max-width: 980px;
		display: flex;
		align-items: flex-start;
		justify-content: space-between;
		margin: 0 auto;
		@media (max-width: 770px){
			flex-direction: column;
			align-items: stretch;
		}

	}
}