.wrapper{
	position: relative;
	.cover_img{
		height: 350px;
		position: relative;
		margin-bottom: 20px;
		max-width: 1080px;
		margin: 0 auto 15px auto;
		z-index: 2;
		
		> img{
			position: absolute;
			top: 0px;
			left: 0px;
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
		.avatar_style{
			position: absolute;
			bottom: -20px;
			left: 50%;
			width: 200px;
			height: 200px;
			transform: translateX(-50%);
				.avatar_wrapper{
					background-color: #fff;
					border-radius: 50%;
						img{
							width: 100%;
							height: 100%;
							border-radius: 50%;
							border: 3px solid;
							cursor: pointer;
							position: relative;
							&:hover {
								opacity: .9;
							}
						}
						&.avatar_fade {
							img{
								opacity: .5;
								&:hover {
									opacity: .5;
								}
							}
						}
				}
				.avatar_change{
					width: 30px;
					height: 30px;
					background-color: rgba(255, 255, 255, .6);
					border-radius: 50%;
					position: relative;
					bottom: 59px;
					right: -163px;
					transition: all .3s;
					input {
						display: none;
					}
					label{
						cursor: pointer;
						display: flex;
						justify-content: center;
						align-items: center;
						height: 100%;
						img{
							width: 70%;
						}
					}
					&:hover{
						background-color: rgba(255, 255, 255, .9);
					}
					&.disable_btn {
						label {
							cursor: auto;
							opacity: 0.5;
						}
						&:hover {
							background-color: rgba(255, 255, 255, .6);
						}
						
					}
					
				}
				.loading, .updateAvatarFail {
					position: absolute;
					display: block;
					width: 50%;
					height: 50%;
					top: 50%;
					left: 50%;
					transform: translate(-50%, -50%);
					display: flex;
					justify-content: center;
					align-items: center;
				}
				.updateAvatarFail{
					color: red;
					width: 100%;
					height: 100%;
				}
		}
	}
	.gradient_bg {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background: linear-gradient(#8a96b3, 40%, #1f2020);
		z-index: 1;
	}
}

.modal_wrapper{
	display: flex;
	justify-content: center;
	align-items: center;
	.modal{
		height: 80%;
		img{
			height: 100%;
			object-fit: cover;
		}
	}
}

