.pagination{
	display: flex;
	justify-content: center;
	align-items: center;
	ul{
		display: flex;
		overflow: hidden;
		padding: 10px 15px;
		li {
			background-color: #383838;
			padding: 0px 12px;
			cursor: pointer;
			border-radius: 5px;
			list-style: none;
			margin-right: 10px;
			color: #fff;
			font-size: 14px;
			opacity: .7;
			line-height: 25px;
			&:last-child{
				margin-right: 0px;
			}
			@media(max-width: 992px){
				margin-bottom: 15px;
				margin-right: 15px;
			}
		}
		@media(max-width: 992px){
			flex-wrap: wrap;
			justify-content: center;
		}
	}
	button {
		cursor: pointer;
		// width: 20px;
		flex: 0 0 20px;
		
		height: 20px;
		background-color: transparent;
		img{
			width: 100%;
			height: 100%;
		}
		&.disabl_btn{
			opacity: .3;
			cursor: auto;
		}
		@media(max-width: 992px){
			margin-bottom: 15px;
		}
	}
	.currentPageClass {
		background-color: #696868;
		box-shadow: 0 0 2px 1px #00b8ff;
		color: #000;
		opacity: 1;
	}
	.next, .last {
		transform: rotate(180deg);
	}
	.next{
		margin-right: 10px;
		@media(max-width: 992px){
			margin-right: 20px;
		}
	}
	.previous {
		margin-left: 10px;
		@media(max-width: 992px){
			margin-left: 20px;
		}
	}
}



