.friends{
	margin-bottom: 30px;
	min-height: 700px;
	display: flex;
	justify-content: center;
	align-items: center;
}
.allFriendsClass{
	width: 90%;
}
.button{
	display: flex;
	justify-content: center;
	align-items: center;
}
.pagination{
	display: flex;
	justify-content: center;
	align-items: center;
}
.pagination ul{
	display: flex;
	width: 400px;
	overflow: hidden;
	padding: 10px;
}
.pagination li {
	background-color: burlywood;
	padding: 15px 12px;
	cursor: pointer;
	border-radius: 10px;
	list-style: none;
	margin-right: 10px;
	color: #fff;
	font-size: 20px;
	opacity: .7;
}
.pagination .currentPageClass {
	border: 1px solid #fff;
	transform: scale(1.1);
	box-shadow: 1px 1px 5px #000;
	color: #000;
	opacity: 1;
}
