.container {
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	min-width: 320px;
	position: relative;
		.wrapper {
			width: 300px;
			position: relative;
			z-index: 3;
			background-color: rgba(0, 0, 0, .5);
			padding: 20px 10px;
			border-radius: 7px;
			h1 {
				text-align: center;
				font-size: 36px;
				font-weight: 700;
				margin-bottom: 15px;
				color: #fff;
			}
		}
		.imgBg {
			position: absolute;
			width: 100%;
			height: 100%;
			z-index: 1;
			transition: all 1s ease;
			img{
				top: 0px;
				left: 0px;
				width: 100%;
				height: 100%;
				object-fit: cover;
			}
			&:after {
				content: '';
				position: absolute;
				width: 100%;
				height: 100%;
				top: 0;
				left: 0;
				background-color: #000;
				opacity: .4;
				z-index: 2;
			}
		}
}