.wrapper{
	padding: 15px;
	.content{
		margin-bottom: 30px;
		.body{
			display: flex;
			flex-wrap: wrap;
			max-width: 1080px;
			margin: 0 auto;
			
			@media(max-width: 770px){
				display: block;
			}
		}
	}
}

