.wrapper {
	border-right: 1px solid rgba(95, 95, 95, .7);
	margin-right: 20px;
	flex: 0 0 310px;
	padding: 10px;
	background-color: #1f2022;
	overflow: auto;
	height: calc(100vh - 60px);
	li {
		color: #fff;
		margin-bottom: 25px;
		text-decoration: none;
		list-style-type: none;
		display: flex;
		align-items: center;
		word-wrap: break-word;
		width: 100%;
	}
	@media(max-width: 770px){
		border-right:0;
		margin-right: 0px;
		flex: 1 1 100%;
	}
}



