.wrapper {
	border-right: 1px solid rgba(95, 95, 95, .7);
	margin-right: 20px;
	flex: 0 1 17%;
	padding: 10px;
	
	li {
		color: #fff;
		margin-bottom: 25px;
		text-decoration: none;
		list-style-type: none;
		display: flex;
		align-items: center;
	}
}


